@import url("http://fonts.googleapis.com/css?family=Montserrat:400,800");

body {
  margin: 0;
  padding: 0;
}

main {
  padding-top: 60px;
  padding-bottom: 70px;
  font-family: "montserrat", sans-serif;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
}

/* header {
  padding: 70px 5px 50px 5px;
} */

.background {
  padding-top: 60px;
  padding-bottom: 60px;
  scroll-behavior: smooth;
  background-image: url("Ukuleles.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100px;
  background-color: #464646;
}

header h1 {
  font-size: 70px;
  text-align: center;
}

nav {
  font-size: 18px;
  padding: 16px 0 16px 0;
  background-color: #483e5896;
  cursor: pointer;
}

nav a {
  text-align: center;
  padding: 16px 6px 16px 6px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: rgb(224, 216, 247);
  padding: 16px 6px 16px 6px;
  background-color: #483e58;
}

footer {
  height: 80px;
  padding: 35px 0 16px 0;
  background-color: #483e5896;
  cursor: pointer;
}

footer a {
  text-align: center;
  padding: 16px 6px 16px 6px;
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: rgb(224, 216, 247);
  padding: 16px 6px 16px 6px;
  background-color: #483e58;
}

/*
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/g]font-awesome/4.7.0/css/font-awesome.min.css">
    */
